@font-face{
    font-family: arialBlack;
    src: url(arial-black.ttf) ;
  }

  
.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000000;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.cartBox {
  background-color: rgb(255, 255, 255);
}

.cartBox 
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000000;
}