@font-face{
    font-family: arialBlack;
    src: url(arial-black.ttf) ;
  }

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 0px;
    background-color: rgb(0, 0, 0);
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0px;
  }

  .button-holder{
      display: flex;
  }

  form.message-form.hidden-xs.public{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
  }

  .button-holder {
    position: fixed;
    bottom: 130px;
    width: 100%;
    background-color: white;
    z-index: 100;
    }