/* light.css: 👉 dark-on-light */
:root {
    --body-bg: #1618276c;
    --text-color: #000000;
    --text-time: rgb(255, 255, 255);
    --main-color: #1618276c;
    --gallery-background: rgba(255, 255, 255, 0.90);
    --header-color: #1618276c;
    --chat-active: rgb(43, 43, 43);
    --chat-hover:rgb(43, 43, 43);
    --border: 1px solid #000000;
    --msg-content-background: #fff;
    --our-msg: #6393fa;
    --notify: #000000;
    --warning-background: #ffa09e;
    --heart-color: #ed4e49;
    --login-background: #ffffff;
    --seen-indicator: rgba(0, 0, 0, 0.45);
    --input-bg: #000000;
    --input-text: #ffffff;
    --input-placeholder: #ffffff;
    --small-text-color: #262626;
    --msg-form-button-color: #fff;
    --button-bg: #000000;
    --button-color: #fff;
    --button-border: 0;
    --button-border-size: 0;
    --button-hover-bg: #ffffff;
    --menu-bg: #1618276c;
    --sidebar-bg: #1618276c;
    --sidebar-border-right: 1px solid #707070;
    --zebra-stripe-bg: rgba(255,255,255,0.5);
    --emoji-picker-bg: #FFFFFF;
    --emoji-picker-color: #777;
    --emoji-picker-border-color: #707070;
    --link-color: #000000;
    --day-separator-bg: rgba(227, 249, 255, 0.91);
    --day-separator-color: rgba(74, 74, 74, 0.88);
    --non-string-value-color: blue;
    --nav-border-bottom: 0px solid none;
}
